// 'npm run sass' for live compiling

$enable-responsive-font-sizes: true;
$enable-shadows: true;
$light-red: #d41920;
$mid-red: #bb1616;
$dark-red: #8f0c13;
$black: #232323;
$primary: #e2e2e2;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

@mixin PokemonTitle {
  font-family: "PokemonTitle";
  letter-spacing: 5px;
}

html {
  max-width: 100vw;
}

* {
  box-sizing: border-box;
}

body {
  @extend .bg-primary;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-between;
  min-height: 100vh;
}

.logo:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.99);
}

header {
  @include PokemonTitle();
  background-color: $light-red;
  border-bottom: solid black thick;
  font-size: 1.5vw;
  @extend .w-100;
  @extend .p-0;
  @extend .d-flex;
  @extend .align-items-center;
  & a {
    width: fit-content;
    @extend .mx-3;
  }
}

.searchField {
  border-radius: 0.7rem;
  background-color: white;
  @extend .d-flex;
  @extend .mx-3;
  & label {
    cursor: pointer;
    @extend .d-flex;
  }
  & input {
    font-size: 1.5vw;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    outline: none;
    border-color: transparent;
    @extend .px-3;
    @extend .d-block;
  }
  & input[type="submit"] {
    display: none !important;
  }
  & img {
    width: 3.5vw;
    @extend .my-3;
    @extend .mx-auto;
  }
}

.info {
  & div {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
  }
}

.imgInfo {
  max-width: 15rem;
  border-radius: 0.7rem;
  @extend .my-3;
}

.imgHover {
  &:hover {
    box-shadow: 10px 0px 20px grey;
    border: 2px solid white;
  }
}

.btn {
  border-radius: 0.7rem;
  font-size: 1.5vw;
  background-color: $mid-red;
  border: 0.3rem solid $dark-red;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.75);
  z-index: 100;
  @extend .position-relative;
  @extend .text-white;
  @extend .p-2;
  &:active {
    top: 5px;
    @extend .text-white;
  }
  &:hover {
    background-color: $light-red;
    @extend .text-white;
  }
}

.ligne {
  border: 6px solid $dark-red;
  @extend .m-4;
  @extend .p-4;
  border-radius: 0.7rem;
  @extend .text-white;
  background-color: $light-red;
  @extend .position-relative;
  & i {
    z-index: 100;
  }
  & p {
    @include PokemonTitle();
    text-transform: capitalize;
  }
  & button {
    @extend .p-2;
    @extend .btn;
    width: auto;
    &:hover {
      @extend .fw-bold;
    }
  }
  &:hover {
    background-color: $mid-red;
  }
  & a {
    @extend .text-white;
    text-decoration: none;
    text-transform: capitalize;
    &:visited {
      @extend .text-white;
    }
    &:hover {
      @extend .fw-bold;
    }
  }
}

footer {
  border-top: solid black thick;
  border-bottom: none;
  @include PokemonTitle();
  @extend .text-white;
  @extend .flex-column;
  @extend .justify-content-between;
  @extend header;
  & a {
    @extend .btn;
  }
}

main {
  padding: 0 20% 10% 20%;
  font-family: "PokemonBody";
  & h1 {
    font-size: 2.5vw;
    margin-bottom: 5rem;
    @extend .fw-bold;
  }
  & img {
    @extend .float-end;
    @extend .mx-4;
  }
}

h1 {
  @extend .w-75;
  @extend .text-center;
  @extend .border-bottom;
  @extend .border-dark;
  @extend .m-auto;
  @extend .my-5;
  @include PokemonTitle();
  text-transform: uppercase;
  border-width: thick;
}

input[type="checkbox"] {
  transform: scale(2);
}

.imageInput {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  & input {
    display: none;
  }
  & .bi-cloud-arrow-up {
    font-size: 2rem;
  }
  & input:valid {
    + i {
      color: green;
    }
  }
  & input:invalid {
    + i {
      color: red;
    }
  }
}

.bi-check-circle,
.bi-check-circle-fill {
  font-size: 2.1rem;
  vertical-align: middle;
  bottom: 0;
  left: 0;
}

.bi-check-circle-fill {
  color: green;
  display: none;
}

@font-face {
  font-family: "PokemonBody";
  src: url("fonts/PokemonGb.ttf");
}

@font-face {
  font-family: "PokemonTitle";
  src: url("fonts/PokemonSolid.ttf");
}
