{% extends "master.html" %}
{% block title %}Pokémons{% endblock %}

{% block content %}

<h1>Liste des pokémons :</h1>

<main>
    <!-- Liste des pokémons -->
    {% for pokemon in pokemons %}
    <div class="ligne">
        <a href="/pokemons/{{pokemon[0]}}" class="stretched-link">
            <p>{{pokemon[8]}}</p>
        </a>
        <a href="/pokemons/{{pokemon[0]}}/suppression" class="mx-2">
            <button class="btn" type="button">
                <i class="bi bi-trash"></i> Supprimer
            </button>
        </a>
        <a href="/pokemons/{{pokemon[0]}}/modification" class="mx-2">
            <button class="btn" type="button">
                <i class="bi bi-pencil"></i> Modifier
            </button>
        </a>
    </div>
    {% endfor %}
    {% if regions|length == 0 %}
    <p class="text-danger m-auto">Il faut créer une région avant.</p>
    {% endif %}
    {% if types|length == 0 %}
    <p class="text-danger m-auto">Il faut créer un type avant.</p>
    {% endif %}
    {% if regions|length > 0 and types|length > 0%}
    <a href="/pokemons/creation"><button class="btn">Créer un pokémon</button></a>
    {% endif %}
</main>

{% endblock %}