{% extends "master.html" %}
{% block title %}Pokémons{% endblock %}

{% block content %}

<h1>Information du pokémon :</h1>

<main>
    <form>
        <input type="hidden" name="id" placeholder="{{pokemon[0][0]}}">
    </form>
    <div class="d-flex">
        <div class="col-auto info">
            <div>
                <h2>Nom :</h2>
                <h3>{{pokemon[0][8]}}</h3>
            </div>
            <div>
                <h2>Taille :</h2>
                <h3>{{infosInter[0]}}<i class="px-2">pokemètres</i></h3>
            </div>
            <div>
                <h2>Poids :</h2>
                <h3>{{infosInter[1]}}<i class="px-2">pokekilo</i></h3>
            </div>
            <div>
                <h2>Type :</h2>
                <h3>{{type[0][0]}}</h3>
            </div>
            <div>
                <h2>Région :</h2>
                <h3>{{region[0][0]}}</h3>
            </div>
            <div>
                <h2>Date de création :</h2>
                <h3>{{infosInter[2]}}</h3>
            </div>
            <div>
                <h2>Description :</h2>
                <h3>{{pokemon[0][7]}}</h3>
            </div>
        </div>
        <div class="clearfix col-auto">
            <img src="{{ url_for('static', filename='files/' + pokemon[0][3] ) }}" alt="Image de la du pokemon."
                class="imgInfo">
        </div>
    </div>
    <a href="/pokemons/{{pokemon[0][0]}}/suppression"><button class="btn" type="button">Supprimer</button></a>
    <a href="/pokemons/{{pokemon[0][0]}}/modification"><button class="btn" type="button">Modifier</button></a>
</main>

{% endblock %}