{% extends "master.html" %}
{% block title %}Pokémons{% endblock %}

{% block content %}

<h1>Suppréssion du pokémon :</h1>

<main>
        <!-- Suppression du pokémon -->

        <h3>Cochez la case ci-dessous si vous voulez supprimer le pokémon</h3>

        <form method="POST">
            <div class="my-5">
                <input type="checkbox" name="confirmation">
                <a href="/pokemons"><button class="btn" type="submit">Supprimer</button></a>
            </div>
            <a href="/pokemons/{{pokemon[0][0]}}"><button class="btn" type="button">Annuler</button></a>
        </form>
</main>

{% endblock %}