{% extends "master.html" %}
{% block title %}Pokémons{% endblock %}

{% block content %}

<h1>Modification du pokémon :</h1>

<main>
    <div>
        {% if erreurs is defined %}
        <ul>
            {% for erreur in erreurs.values() %}
            <li class="text-danger">{{erreur}}</li>
            {% endfor %}
        </ul>
        {% else %}
        {% set erreurs = {} %}
        {% endif %}

        <form method="POST" enctype="multipart/form-data" novalidate>
            <input class="p-2" name="nom" placeholder="Nom" tabindex="1"></input>
            <p class="text-danger">{{erreurs["nom"] if erreurs["nom"] is defined else '&nbsp;'|safe}}</p>
            <input class="p-2" name="taille" placeholder="Taille" tabindex="2"></input>
            <p class="text-danger">{{erreurs["taille"] if erreurs["taille"] is defined else '&nbsp;'|safe}}</p>
            <input class="p-2" name="poids" placeholder="Poids" tabindex="3"></input>
            <p class="text-danger">{{erreurs["poids"] if erreurs["poids"] is defined else '&nbsp;'|safe}}</p>
            <label for="descr" for="image">Insérez l'image du pokémon</label>
            <div class="d-flex align-content-center align-middle">
                <label for="image" class="imageInput">
                    <input type="file" id="image" name="image" placeholder="Logo"
                        accept="image/gif,image/png,image/jpeg,image/bmp,image/webp" tabindex="4" required></input>
                    <i class="bi-cloud-arrow-up"></i> Custom Upload
                </label>

            </div>
            <p class="text-danger">{{erreurs["image"] if erreurs["image"] is defined else '&nbsp;'|safe}}</p>
            <select class="p-2" class="form-control" name="type" tabindex="5">
                {% for type in types %}
                <option value="{{type[0]}}">{{type[1]}}</option>
                {% endfor %}
            </select>
            <label class="p-2" for="regionsCtrl">Région du pokemon</label>
            <select class="p-2" class="form-control" name="regions" id="regionsCtrl" tabindex="6">
                {% for regionID in regionsID %}
                <option value="{{regionID[0]}}">{{regionID[4]}}</option>
                {% endfor %}
            </select>
            <div class="p-2" class="form-group">
                <label for="descr">Description du pokémon</label>
                <textarea class="form-control" name="description" id="descr" tabindex="7"></textarea>
                <p class="text-danger">{{erreurs["description"] if erreurs["description"] is defined else
                    '&nbsp;'|safe}}
                </p>
            </div>
            <a href="/pokemons"><button class="btn" type="button">Annuler</button></a>
            <button class="btn" type="submit" tabindex="8">Modifier</button>
        </form>
    </div>

</main>

{% endblock %}