{% extends "master.html" %}
{% block title %}Types{% endblock %}

{% block content %}

<h1>Suppression du type :</h1>

<main>
    {% if erreurs is defined %}
    <ul>
        {% for erreur in erreurs.values() %}
        <li class="text-danger">{{erreur}}</li>
        {% endfor %}
    </ul>
    {% else %}
    {% set erreurs = {} %}
    {% endif %}

    <h3>Cochez la case ci-dessous si vous voulez supprimer le type</h3>

    <form method="POST">
        {% if erreurs["population"] is not defined %}
        <div class="my-5">
            <input type="checkbox" name="confirmation">
            <a href="/types"><button class="btn" type="submit">Supprimer</button></a>
        </div>
        {% else %}
        <div class="my-5">
            <input type="checkbox" name="deletePokemons">
            <a href="/regions"><button class="btn" type="submit">Supprimer avec les pokemons</button></a>
        </div>
        {% endif %}

        <a href="/types/{{type[0][0]}}"><button class="btn" type="button">Annuler</button></a>
    </form>

</main>

{% endblock %}