{% extends "master.html" %}
{% block title %}Type{% endblock %}

{% block content %}

<h1>Informations sur le type :</h1>

<main>
    <form>
        <input type="hidden" name="id" placeholder="{{type[0][0]}}">
    </form>

    <div class="d-flex justify-content-between">
        <h2>Nom:</h2>
        <h3>{{type[0][1]}}</h3>
        <img src="{{ url_for('static', filename='files/' + type[0][2] ) }}" alt="Image du type" class="imgInfo">
    </div>

    <h2 class="mt-3 clearfix">Pokémons:</h2>
    {% for pokemon in pokemons %}
    <div class="ligne">
        <p>{{pokemon[8]}}</p>
        <a href="/pokemons/{{pokemon[0]}}"><button type="button">Afficher</button></a>
    </div>
    {% endfor %}
    {% if pokemons|length == 0 %}
    <p class="text-danger m-auto">Il faut créer un pokémon avant</p>
    {% endif %}


    <a href="/types/{{type[0][0]}}/suppression"><button class="btn m-3" type="button">Supprimer</button></a>
    <a href="/types/{{type[0][0]}}/modification"><button class="btn m-3" type="button">Modifier</button></a>

</main>

{% endblock %}