{% extends "master.html" %} {% block title %}Types{% endblock %} {% block
content %}

<h1>Liste des types :</h1>

<main>
    {% for type in types %}
    <div class="ligne">
        <a href="/types/{{type[0]}}" class="stretched-link">
            <p>{{type[1]}}</p>
        </a>
        <a href="/types/{{type[0]}}/suppression" class="btn">Supprimer</a>
        <a href="/types/{{type[0]}}/modification" class="btn">Modifier</a>
    </div>
    {% endfor %}
    <a href="/types/creation"><button class="btn">Créer un type</button></a>
</main>

{% endblock %}