{% extends "master.html" %}
{% block title %}Création de type{% endblock %}

{% block content %}

<h1>Création d'un type :</h1>

<main>
    {% if erreurs is defined %}
    <ul>
        {% for erreur in erreurs.values() %}
        <li class="text-danger">{{erreur}}</li>
        {% endfor %}
    </ul>
    {% else %}
    {% set erreurs = {} %}
    {% endif %}

    <form method="POST" enctype="multipart/form-data" novalidate>
        <input id="nom" name="nom" placeholder="Nom" class="p-2" tabindex="1"></input>
        <p class="text-danger">{{erreurs["nom"] if erreurs["nom"] is defined else '&nbsp;'|safe}}</p>
        <div class="d-flex align-content-center align-middle">
            <label for="image" class="imageInput">
                <input type="file" id="image" name="image" placeholder="Logo"
                    accept="image/gif,image/png,image/jpeg,image/bmp,image/webp" tabindex="2" required></input>
                <i class="bi-cloud-arrow-up"></i> Custom Upload
            </label>
        </div>
        <p class="text-danger">{{erreurs["image"] if erreurs["image"] is defined else '&nbsp;'|safe}}</p>
        <a href="/types"><button type="button" class="btn">Annuler</button></a>
        <button type="submit" class="btn" tabindex="3">Créer</button>
    </form>
</main>

{% endblock %}