{% extends "master.html" %}
{% block title %}Pokémons{% endblock %}

{% block content %}

<h1>Bataille :</h1>

<main>
    <h2>Combats récents :</h2>
    <ul>
        {% for pokemoncombat in pokemonscombats %}
        {% if pokemoncombat[1]|int > pokemoncombat[4]|int %}
        <li>Le {{pokemoncombat[6]}}, {{pokemoncombat[0]}} a battu {{pokemoncombat[3]}}</li>
        {% elif pokemoncombat[4]|int > pokemoncombat[1]|int %}
        <li>Le {{pokemoncombat[6]}}, {{pokemoncombat[3]}} a battu {{pokemoncombat[0]}}</li>
        {% else %}
        <li>Le {{pokemoncombat[6]}}, {{pokemoncombat[0]}} est tombé en égalité avec {{pokemoncombat[3]}}</li>
        {% endif %}
        {% endfor %}
    </ul>

    {% if pokemons|length >= 2 %}

    {% if erreurs is defined %}
    <ul>
        {% for erreur in erreurs.values() %}
        <li class="text-danger">{{erreur}}</li>
        {% endfor %}
    </ul>
    {% else %}
    {% set erreurs = {} %}
    {% endif %}

    <form method="POST">
        <div class="d-flex">
            <div class="col-sm">
                <label for="combats" class="mt-3">Combattant de gauche</label>
                <select class="form-control my-3" name="combatGauche" id="combats">
                    <option value="">Sélectionnez un pokémon</option>
                    {% for pokemon in pokemons %}
                    <option value="{{pokemon[0]}}">{{pokemon[8]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm">
                <label for="combats" class="mt-3">Combattant de droite</label>
                <select class="form-control my-3" name="combatDroite" id="combats">
                    <option value="">Sélectionnez un pokémon</option>
                    {% for pokemon in pokemons %}
                    <option value="{{pokemon[0]}}">{{pokemon[8]}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <p class="text-danger">{{erreurs["matchmaking"] if erreurs["matchmaking"] is defined else '&nbsp;'|safe}}
        </p>
        <button class="btn" type="submit">Au combat!</button>
    </form>
    {% else %}
    <p class="text-danger">Il faut créer au moins 2 pokémons pour faire un combat</p>
    {% endif %}
</main>
{% endblock %}