{% extends "master.html" %}
{% block title %}Accueil{% endblock %}

{% block content %}

<h1>Régions :</h1>

<main class="d-flex flex-wrap align-items-stretch">
    {% for region in regions %}
    <div class="col-sm-4 mb-4 d-flex flex-column justify-content-between">
        <a href="/regions/{{region[0]}}">
            <img src="{{url_for('static', filename='files/' + region[3])}}" alt="Image de la région"
                class="imgInfo imgHover">
        </a>
        <p class="text-center">{{region[4]}}</p>
    </div>
    {% endfor %}
    {% if regions|length == 0 %}
    <p class="text-danger m-auto">Il faut créer une région avant</p>
    {% endif %}
</main>

{% endblock %}