<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} - Pokemon</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon" />

    {% endblock %}

</head>

<body>

    <header class="">
        <a href="/" class="logo"><img src="{{ url_for('static', filename='assets/img/pokecube.png' ) }}"
                alt="Logo pokeball">
        </a>
        <div class="d-flex justify-content-around mx-auto">
            <a href="/regions" class="btn">Régions</a>
            <a href="/pokemons" class="btn">Pokémons</a>
            <a href="/types" class="btn">Types</a>
            <a href="/pokemons/batailles" class="btn">Bataille</a>
        </div>


        <form method="GET" class="searchField" action="/search">
            <input class="col" type="text" name="search" id="search" placeholder="Rechercher...">
            <label for="submit" class="col">
                    <img src="{{ url_for('static', filename='assets/icons/search.png' ) }}" alt="Search icon">
            </label>
            <input type="submit" id="submit">
        </form>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="row w-100 my-3">
            <a target="_blank" href="https://pokemongolive.com/fr/" class="col-3 m-auto">Pokemon GO</a>
            <a target="_blank" href="https://www.pokemon.com/fr/" class="col-3 m-auto">Pokemon Official Web Site</a>
            <a target="_blank" href="https://www.youtube.com/channel/UCFctpiB_Hnlk3ejWfHqSm6Q"
                class="col-3 m-auto">Pokemon
                Official Youtube Channel</a>
        </div>
        <p class="w-100 text-end px-3 m-0">Créateurs: Olivier Poitras, Gabriel Morris, Dan Lévy</p>
    </footer>

    <!-- Script Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

</body>

</html>