{% extends "master.html" %}
{% block title %}Erreur 404{% endblock %}

{% block content %}
<main>
    <h2 class="w-100 my-5">Vous avez rencontré une erreur 404.</h2>
    {% if request.referrer %}
    <a href="{{request.referrer}}"><button class="btn my-5" type="button">Retourner à la page précédente.</button></a>
    {% else %}
    <a href="/"><button class="btn my-5" type="button">Retourner à la page d'accueil.</button></a>
    {% endif %}
</main>
{% endblock %}