{% extends "master.html" %}
{% block title %}Recherche{% endblock %}

{% block content %}

<h1>Résultat de la recherche :</h1>

<main>
        <!-- Ici sera l'endroit où on affiche la recherche. -->

</main>

{% endblock %}