{% extends "master.html" %}
{% block title %}Recherche{% endblock %}
{% block content %}
<h1>Résultat de la recherche :</h1>

<main>
    {% if erreurs is defined %}
    <ul>
        {% for erreur in erreurs.values() %}
        <li class="text-danger">{{erreur}}</li>
        {% endfor %}
    </ul>
    {% set pokemons = {} %}
    {% endif %}
    <p>Résultats de recherche pour {{valeur['search']}}</p>
    <p>La recherche retourne {{pokemons|length}} résultat(s).</p>
    {% for pokemon in pokemons %}
    <a href="/pokemons/{{pokemon[0]}}">
        <div class="ligne">
            <p>{{pokemon[8]}}</p>
            <a href="/pokemons/{{pokemon[0]}}"><button type="button">Afficher</button></a>
        </div>
    {% endfor %}
    {% if not pokemons %}
    <p class="text-danger m-auto">La recherche ne retourne aucun résultat.</p>
    <div class="ligne my-5 mx-0">
        <a href="{{authorize_url}}" target="_blank">
            <p>Rechercher sur google</p>
        </a>
    </div>
    {% endif %}

</main>

{% endblock %}