{% extends "master.html" %}
{% block title %}Région{% endblock %}

{% block content %}

<h1>Informations de la région :</h1>

<main>
    <form>
        <input type="hidden" name="id" placeholder="{{region[0][0]}}">
    </form>
    <div class="d-flex">
        <div class="col-auto info">
            <div>
                <h2>Nom :</h2>
                <h3>{{region[0][4]}}</h3>
            </div>
            <div>
                <h2>Population :</h2>
                <h3>{{infosInter[0]}}<i class="px-2">pokepaysans</i></h3>
            </div>
            <div>
                <h2>Superficie :</h2>
                <h3>{{infosInter[1]}}<i class="px-2">pokemètres<sup>2</sup></i></h3>
            </div>
        </div>
        <div class="clearfix col-auto">
            <img src="{{ url_for('static', filename='files/' + region[0][3] ) }}" alt="Image de la région." class="imgInfo">
        </div>
    </div>
    <h2 class="mt-3 clearfix">Pokémons:</h2>
    {% for pokemon in pokemons %}
    <a href="/pokemons/{{pokemon[0]}}">
        <div class="ligne">
            <p>{{pokemon[8]}}</p>
            <a href="/pokemons/{{pokemon[0]}}"><button type="button">Afficher</button></a>
        </div>
    </a>
    {% endfor %}
    {% if pokemons|length == 0 %}
    <p class="text-danger m-auto">Il faut créer un pokémon avant</p>
    {% endif %}

    <a href="/regions/{{region[0][0]}}/suppression"><button class="btn m-3" type="button">Supprimer</button></a>
    <a href="/regions/{{region[0][0]}}/modification"><button class="btn m-3" type="button">Modifier</button></a>
</main>

{% endblock %}