{% extends "master.html" %}
{% block title %}Régions{% endblock %}

{% block content %}

<h1>Liste des régions :</h1>

<main>
    <!-- Ici sera affichée la liste des régions sous forme de liens. -->
    {% for region in regions %}
    <div class="ligne">
        <a href="/regions/{{region[0]}}" class="stretched-link">
            <p>{{region[4]}}</p>
        </a>
        <a href="/regions/{{region[0]}}/suppression">
            <button class="btn" type="button">Supprimer</button>
        </a>
        <a href="/regions/{{region[0]}}/modification">
            <button class="btn" type="button">Modifier</button>
        </a>
    </div>
    {% endfor %}

    <a href="/regions/creation"><button class="btn">Créer une région</button></a>
</main>

{% endblock %}