{% extends "master.html" %}
{% block title %}Création de région{% endblock %}

{% block content %}

<h1>Création d'une région :</h1>

<main>
    {% if erreurs is defined %}
    <ul>
        {% for erreur in erreurs.values() %}
        <li class="text-danger">{{erreur}}</li>
        {% endfor %}
    </ul>
    {% else %}
    {% set erreurs = {} %}
    {% endif %}

    <form method="POST" enctype="multipart/form-data" novalidate>
        <input class="p-2" name="nom" placeholder="Nom">
        <p class="text-danger">{{erreurs["nom"] if erreurs["superficie"] is defined else '&nbsp;'|safe}}</p>
        <input class="p-2" name="superficie" placeholder="Superficie" tabindex="1">
        <p class="text-danger">{{erreurs["superficie"] if erreurs["superficie"] is defined else '&nbsp;'|safe}}</p>
        <input class="p-2" name="population" placeholder="Population" tabindex="2">
        <p class="text-danger">{{erreurs["population"] if erreurs["population"] is defined else '&nbsp;'|safe}}</p>
        <div class="d-flex align-content-center align-middle">
            <label for="image" class="imageInput">
                <input type="file" id="image" name="image" placeholder="Logo"
                    accept="image/gif,image/png,image/jpeg,image/bmp,image/webp" tabindex="3" required></input>
                <i class="bi-cloud-arrow-up"></i> Custom Upload
            </label>

        </div>
        <p class="text-danger">{{erreurs["image"] if erreurs["image"] is defined else '&nbsp;'|safe}}</p>
        <a href="/regions"><button class="btn" type="button">Annuler</button></a>
        <button class="btn" type="submit" tabindex="4">Créer</button>
    </form>
</main>

{% endblock %}